<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>
        <span *ngIf="currentWord?.id; else elseBlock">{{
          originalTitle
        }}</span>
        <ng-template #elseBlock>Create a Flashcard</ng-template>
      </h1>
    </mat-card-title>
  </mat-card-header>
  <form
    [formGroup]="form"
    #formDirective="ngForm"
    (ngSubmit)="save(formDirective)"
  >
    <mat-card-content>
      <mat-form-field appearance="outline" class="full-width" floatLabel>
        <input
          matInput
          placeholder="English"
          formControlName="english"
          type="text"
          name="english"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width" floatLabel>
        <input
          matInput
          placeholder="Portuguese"
          formControlName="portuguese"
          type="text"
          name="portuguese"
        />
      </mat-form-field>
      
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button color="primary">
        {{ currentWord?.id ? 'Save' : 'Create' }}
      </button>
      <button type="button" mat-button (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
